<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight API</title>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>{{ api_info.message }}</h1>
    <h2>Endpoints:</h2>
    <ul>
        {% for endpoint, description in api_info.endpoints.items() %}
        <li>
            <a href="{{ endpoint_example[endpoint] }}">
                <div class="endpoint">{{ endpoint }}</div>
                <div class="description">{{ description }}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="assignment-info">
        <p>Created by Denis Kreuzer in Masterschool</p>
        <p>Assignment: Flight API</p>
    </div>
</div>
</body>
</html>